<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="data source=10.10.10.203;uid=sa;pwd=sa;database=AMSCM_XG_TEST" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="AppName" value="名称" />
  </appSettings>
</configuration>