<div id="page-content">
    <nav class="breadcrumb hidden-xs">
        <i class="iconfont icon-home"></i>
        <a class="maincolor" href="/">主控台</a>
        <span class="c-999">&gt;</span>销售报表
        <span class="c-999">&gt;</span><span class="c-666">@ViewBag.Title</span>
    </nav>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-primary radius" id="reportdailycashpanel">
                <div class="panel-header">
                    <div class="panel-heading-btn">
                        <a href="javascript:;" class="btn btn-xs iconfont icon-fangda4 btn-default yuanbtn-MINI" data-click="panel-expand"></a>
                        <a href="javascript:;" class="btn btn-xs iconfont icon-huanyipi btn-success yuanbtn-MINI" data-click="panel-reload"></a>
                        <a href="javascript:;" class="btn btn-xs iconfont icon-jianhao btn-warning yuanbtn-MINI" data-click="panel-collapse"></a>
                        <a href="javascript:;" class="btn btn-xs iconfont icon-close btn-danger yuanbtn-MINI" data-click="panel-remove"></a>
                    </div>
                    <h4 class="panel-title">@ViewBag.Title</h4>
                </div>
                <div class="panel-body">
                    <table id="dailycashtable" class="table table-border table-bordered table-bg table-striped display responsive nowrap">
                        <thead>
                            <tr><th>统计项</th></tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="searchModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="searchModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="z-index:1040">
        <div class="modal-content">
            <div class="modal-header">
                <button class="close" data-dismiss="modal" aria-hidden="true" href="javascript:void();">×</button>
                <h4 class="modal-title">高级查找<span class="f-12 c-warning">--至少输入一个查找条件，否则视为放弃查找</span></h4>
            </div>
            <div class="modal-body form-horizontal">
                <div class="row row-form">
                    <label class="form-label col-xs-4 col-sm-3">门店</label>
                    <div class="col-xs-8 col-sm-9">
                        <select class="select" id="consdept"></select>
                    </div>
                </div>
                <div class="row row-form">
                    <label class="form-label col-xs-4 col-sm-3">操作员</label>
                    <div class="col-xs-8 col-sm-9">
                        <select class="select" id="consopername"></select>
                    </div>
                </div>
                <div class="row row-form">
                    <label class="form-label col-xs-4 col-sm-3">日期</label>
                    <div class="col-xs-8 col-sm-9">
                        <input type="text" class="input-text" id="begindate" style="max-width:195px" />至<input type="text" class="input-text" id="enddate" style="max-width:195px" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <div class="modal-footer_error c-danger"></div>
                <div class="modal-footer_button">
                    <button class="btn btn-primary radius" id="searchModalBtn">查找</button>
                </div>
            </div>
        </div>
    </div>
</div>
@section Css{
    <link href="~/Scripts/vendors/bootstrap-datetimepicker/css/datetimepicker.css" rel="stylesheet" />
}
@section scripts{
    <script src="~/Scripts/vendors/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
    <script>
        //返回顶部
        var $backToTopEle = $('<a href="javascript:void(0)" class="iconfont icon-top toTop" title="返回顶部" alt="返回顶部" style="display: none"></a>').appendTo($("body")).click(function () {
            $("html, body").animate({ scrollTop: 0 }, 120);
        });
        var $backToTopFun = function () {
            var st = $(document).scrollTop(), winh = $(window).height();
            (st > 0) ? $backToTopEle.show() : $backToTopEle.hide();
            /*IE6下的定位*/
            if (!window.XMLHttpRequest) {
                $backToTopEle.css("top", st + winh - 166);
            }
        };
        $(function () { $(window).on("scroll", $backToTopFun); $backToTopFun(); });
        $(document).ready(function () {
            App.init();
        });
    </script>
    <script src="~/Scripts/reportdailycash.js"></script>
}
